body {
  font-family: 'Spartan', sans-serif;
  text-align: center;
  color: #2c3e50;
  background: #f1f2f5;
}

h1, h2, h3, h4, h5 , h6 {
  font-weight: 600;
}

label {
  margin-bottom: 0;
  font-weight: 600;
}

.btn-sm {
  padding: .5rem .75rem;
  font-size: .775rem;
  line-height: 1.2;
  font-weight: 600;
}

 
/** CAROUSEL COMPONENT **/
.carousel-caption {
  bottom: 35%;
  h1 {
    font-weight: 600;
  }
  p{
    font-weight: 600;
  }
}

/** MODAL **/

.modal-content {
  border-radius: .7rem
}
