body {
  font-family: "Spartan", sans-serif;
  text-align: center;
  color: #2c3e50;
  background: #f1f2f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

img {
  max-width: 100%;
}

label {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 0.8rem;
}

.relative{
  position: relative;
}

.font-weight-bolder {
  font-weight: 600 !important;
}

.text-muted {
  color: #cfcece !important;
}

.section-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-padding-t {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.section-padding-b {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.vertical-h100 {
  min-height: 100vh;
}
.vertical-h80 {
  min-height: 80vh;
}
.vertical-h60 {
  min-height: 60vh;
}
.vertical-h40 {
  min-height: 40vh;
}

.btn-sm {
  padding: 0.5rem 0.75rem;
  font-size: 0.775rem;
  line-height: 1.2;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}

/** CAROUSEL COMPONENT **/
.carousel-caption {
  bottom: 35%;
  h1 {
    font-weight: 600;
  }
  p {
    font-weight: 600;
  }
}

/** MODAL **/

.modal-content {
  border-radius: 0.7rem;
}

/** DROPZONE  **/
.vue-dropzone > .dz-preview .dz-remove {
  padding: 0.5rem 0.75rem!important;
  font-size: 0.775rem!important;
  text-transform: capitalize !important;
  line-height: 1.2;
  font-weight: 600!important;
  border-radius: 0.2rem;
  color: #ffffff!important;
  border-color: transparent!important;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.vs__dropdown-option--highlight {
  background: #5897fb;
  color: #fff!important;
  p {
    small {
      color: #ffffff!important;
    }
  }
}

.custom-control-label::before,
.custom-control-label::after {
  top: .05rem;
}

.table.b-table > tbody > .table-active.b-table-row-selected,
.table.b-table > tbody > .table-active.b-table-row-selected > th,
.table.b-table > tbody > .table-active.b-table-row-selected > td {
  background: #a9ddf2 !important;
  outline: none;
}